* {
  box-sizing: border-box;
  margin: 0;
}

main {
  font-family: "Karla";
  background: #f5f7fb;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  font-size: 50px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

.instructions {
  font-family: "Inter";
  font-size: 30px;
  text-align: center;
  color: #293264;
  margin-bottom: 30px;
}

button {
  width: 250px;
  height: 60px;
  border: none;
  background: #4d5b9e;
  border-radius: 15px;
  font-size: 30px;
  color: #f5f7fb;
}

.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 75px;
  gap: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.container-questions {
  font-weight: 700;
  font-size: 18px;
  color: #293264;
}

.question-options-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.QtnOption {
  width: fit-content;
  font-size: 16px;
  padding: 5px 20px;
  font-family: sans-serif, Arial;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  color: black;
}

.QtnOption:active {
  background-color: #d6dbf5;
}

.container-button label:hover {
  background-color: rgb(231, 255, 221);
}

.container-answers {
  max-width: 250px;
  min-height: 120px;
  border: 0.794px solid #4d5b9e;
  background: none;
  border-radius: 10px;
  color: #293264;
  margin-right: 20px;
  padding: 5px 10px;
}

.check-answers {
  margin: 0 auto;
  font-size: 20px;
}
