* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Karla", sans-serif;
  background: #f5f7fb;
}

button {
  width: 250px;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 30px;
  border: none;
  color: #f5f7fb;
  background: #4d5b9e;
}

.start-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

.instructions {
  font-family: "Inter";
  font-size: 30px;
  text-align: center;
  color: #293264;
  margin-bottom: 30px;
}

.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  gap: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.container-questions {
  font-weight: 700;
  font-size: 18px;
  color: #293264;
}

.question-options-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.QtnOption {
  width: fit-content;
  font-size: 16px;
  padding: 5px 20px;
  font-family: sans-serif, Arial;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  color: black;
}

.selectedOption {
  color: white;
  background: #4d5b9e;
}

.results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check-answers {
  margin: 0 auto;
  font-size: 20px;
}
